.error-container > * {
  border: 1px solid red;
  display: grid;
  grid-template-rows: repeat(2, auto);
  row-gap: 1rem;
  color: #fff;
  width: 50vw;
}

.error {

  &__img img {
    object-fit: fit;
    width: 100%;
    height: 100%;
  }
  
  &__message {
    font-size: 3vw;
    background: red;
    text-align: center;
  }

  &__submessage {
    font-size: 2.5vw;
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin-top: 1rem;
  }
}

