body {
  background: hsla(0, 0, 0, 0.9);
}

.form-container {
  display: flex;
  justify-content: flex-end;
}

.form {
  padding: 1.2rem;

  & *+* {
    margin-left: 1.2rem;
  }
  
  &__city {
    background: transparent;
    border: 1px solid rgb(119,119,119);
    font-size: 1.2rem;
    color: #fff;
    padding: 0.5rem;
  }
  
  &__measurement {
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  & select {
    background: transparent;
    color: #fff;
    padding: 0.5rem;
    font-size: 1.2rem;
  }
  
  & button {
    background: rgb(119,119,119);
    border: 1px solid rgb(119,119,119);
    color: #fff;
    padding: 0.5rem 1.2rem;
    font-size: 1.2rem;
    font-weight: bold;
    border: 0.5rem;
    cursor: pointer;

    &:hover {
      background: rgb(100, 100, 100);
    }
  }
}